## Visual Studio Temp-Dateien und Build-Artefakte
/bin/
/obj/
/.vs/
/TestResults/

## User-spezifische Dateien (Sollten nie geteilt werden)
*.suo
*.user
*.userosscache
*.sln.docstates

## Roslyn Analyser & Cache
*.openedpackagecache
*.ide/

## Veröffentlichte Files (Publish-Output)
*.deploy
*.[Pp]ublish.xml

## SQL Server Dateien
*.mdf
*.ldf
*.sdf

## NuGet Pakete
*.nupkg
/packages/

## Rider / JetBrains (falls mal jemand ein anderes Tool nutzt)
.idea/

## Betriebssystem-spezifisches
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store